.containerNavbar {
    width: 100%;
    height: 10vh;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-around;
    font-size: 30px;
}

.containerNavbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.containerNavbar li {
    padding: 10px;
}