.ItemListContainerMain {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.ItemListContainer {
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}