.ItemListContainerMain {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.ItemListContainer {
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}